asn1crypto==1.4.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
cryptography==3.4.7
entrypoints==0.3
heroku==0.1.4
idna==3.2
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.1.0
keyrings.alt==4.1.0
pycparser==2.20
pycrypto==2.6.1
PyGObject==3.30.4
python-dateutil==1.5
pyxdg==0.27
requests==2.26.0
SecretStorage==3.3.1
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.6
zipp==3.5.0
